<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Bot Frontend</title>
</head>
<body>
    <h1>Send a Message to the Telegram Bot</h1>
    <form action="/send_message" method="POST">
        <!-- Removed chat_id input -->
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" cols="50"></textarea><br><br>
        <input type="submit" value="Send Message">
    </form>
</body>
</html>
